/* Color Theme Swatches in Hex */
.Fluorescing-coral-reef-1-hex {
  color: #5752d9;
}
.Fluorescing-coral-reef-2-hex {
  color: #246b73;
}
.Fluorescing-coral-reef-3-hex {
  color: #2b8c83;
}
.Fluorescing-coral-reef-4-hex {
  color: #d9cb04;
}
.Fluorescing-coral-reef-5-hex {
  color: #a68b03;
}

/* Color Theme Swatches in RGBA */
.Fluorescing-coral-reef-1-rgba {
  color: rgba(86, 82, 216, 1);
}
.Fluorescing-coral-reef-2-rgba {
  color: rgba(35, 106, 114, 1);
}
.Fluorescing-coral-reef-3-rgba {
  color: rgba(43, 140, 130, 1);
}
.Fluorescing-coral-reef-4-rgba {
  color: rgba(216, 202, 4, 1);
}
.Fluorescing-coral-reef-5-rgba {
  color: rgba(165, 138, 3, 1);
}

/* Color Theme Swatches in HSLA */
.Fluorescing-coral-reef-1-hsla {
  color: hsla(241, 63, 58, 1);
}
.Fluorescing-coral-reef-2-hsla {
  color: hsla(185, 52, 29, 1);
}
.Fluorescing-coral-reef-3-hsla {
  color: hsla(174, 52, 36, 1);
}
.Fluorescing-coral-reef-4-hsla {
  color: hsla(56, 96, 43, 1);
}
.Fluorescing-coral-reef-5-hsla {
  color: hsla(50, 96, 33, 1);
}
/* Color Theme Swatches in Hex */
.Very-bright-color-background-texture-of-foam-1-hex {
  color: #c004d9;
}
.Very-bright-color-background-texture-of-foam-2-hex {
  color: #ab05f2;
}
.Very-bright-color-background-texture-of-foam-3-hex {
  color: #5a13f2;
}
.Very-bright-color-background-texture-of-foam-4-hex {
  color: #2745f2;
}
.Very-bright-color-background-texture-of-foam-5-hex {
  color: #1b78f2;
}

/* Color Theme Swatches in RGBA */
.Very-bright-color-background-texture-of-foam-1-rgba {
  color: rgba(191, 4, 216, 1);
}
.Very-bright-color-background-texture-of-foam-2-rgba {
  color: rgba(171, 4, 242, 1);
}
.Very-bright-color-background-texture-of-foam-3-rgba {
  color: rgba(89, 19, 242, 1);
}
.Very-bright-color-background-texture-of-foam-4-rgba {
  color: rgba(38, 69, 242, 1);
}
.Very-bright-color-background-texture-of-foam-5-rgba {
  color: rgba(26, 120, 242, 1);
}

/* Color Theme Swatches in HSLA */
.Very-bright-color-background-texture-of-foam-1-hsla {
  color: hsla(292, 96, 43, 1);
}
.Very-bright-color-background-texture-of-foam-2-hsla {
  color: hsla(281, 96, 48, 1);
}
.Very-bright-color-background-texture-of-foam-3-hsla {
  color: hsla(258, 89, 51, 1);
}
.Very-bright-color-background-texture-of-foam-4-hsla {
  color: hsla(230, 88, 55, 1);
}
.Very-bright-color-background-texture-of-foam-5-hsla {
  color: hsla(213, 89, 52, 1);
}
